<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
  	<param-name>param5</param-name>
  	<param-value>value of param5</param-value>
  </context-param>
  <servlet>
  	<servlet-name>HelloServlet</servlet-name>
  	<display-name>HelloServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayank.controller.HelloServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InformationServlet</servlet-name>
  	<display-name>InformationServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayank.controller.InformationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LifeCycleServlet</servlet-name>
  	<display-name>LifeCycleServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayank.controller.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SimpleFormServlet</servlet-name>
  	<display-name>SimpleFormServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayank.controller.SimpleFormServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpReportServlet</servlet-name>
  	<display-name>EmpReportServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayank.controller.EmpReportServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmpSaveServlet</servlet-name>
  	<display-name>EmpSaveServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayank.controller.EmpSaveServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveEnquiryServlet</servlet-name>
  	<display-name>SaveEnquiryServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayank.controller.SaveEnquiryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.mayank.rd.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Welcome</servlet-name>
  	<display-name>Welcome</display-name>
  	<description></description>
  	<servlet-class>com.mayank.rd.Welcome</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletOne</servlet-name>
  	<display-name>ServletOne</display-name>
  	<description></description>
  	<servlet-class>com.mayank.rd.ServletOne</servlet-class>
  	<init-param>
  		<param-name>param1</param-name>
  		<param-value>Value of param1</param-value>
  	</init-param>
  	<init-param>
  		<param-name>param2</param-name>
  		<param-value>Value of param2</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>ServletTwo</servlet-name>
  	<display-name>ServletTwo</display-name>
  	<description></description>
  	<servlet-class>com.mayank.rd.ServletTwo</servlet-class>
  	<init-param>
  		<param-name>param3</param-name>
  		<param-value>Value of param3</param-value>
  	</init-param>
  	<init-param>
  		<param-name>param4</param-name>
  		<param-value>Value of param4</param-value>
  	</init-param>
  </servlet>
  <servlet>
  	<servlet-name>DemoServlet</servlet-name>
  	<display-name>DemoServlet</display-name>
  	<description></description>
  	<servlet-class>com.mayank.rd.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloServlet</servlet-name>
  	<url-pattern>/hc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InformationServlet</servlet-name>
  	<url-pattern>/InformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InformationServlet</servlet-name>
  	<url-pattern>/is</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LifeCycleServlet</servlet-name>
  	<url-pattern>/LifeCycleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LifeCycleServlet</servlet-name>
  	<url-pattern>/lcs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SimpleFormServlet</servlet-name>
  	<url-pattern>/SimpleFormServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SimpleFormServlet</servlet-name>
  	<url-pattern>/sfs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpReportServlet</servlet-name>
  	<url-pattern>/EmpReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpReportServlet</servlet-name>
  	<url-pattern>/ers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmpSaveServlet</servlet-name>
  	<url-pattern>/ess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveEnquiryServlet</servlet-name>
  	<url-pattern>/SaveEnquiryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveEnquiryServlet</servlet-name>
  	<url-pattern>/save_enq</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Welcome</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletOne</servlet-name>
  	<url-pattern>/one</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletTwo</servlet-name>
  	<url-pattern>/two</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DemoServlet</servlet-name>
  	<url-pattern>/demo</url-pattern>
  </servlet-mapping>
</web-app>
